<a href= "/profile/{{User._id}}" > Profile </a>

<br><br>

<a href="addEvent"> Outreach Events </a>

<br><br>

<a href="addSchool"> School Management </a>

<br><br>

<a href="url"> Manage Leaders (Comming Soon)</a>
<br><br>

<a href="/shannaView/manageVolunteers"> Manage Volunteers </a>
<br><br>
<a href="/logout"> Logout </a>
<br><br>

Hi Shanna!!
<br><br>
Here are todays outreach sessions:




