<a href="/profile/{{User._id}}"> Profile </a>
<br><br>
<a href="volunteer/eventSignup"> Event Sign Up </a>
<br><br>
<a href="url"> Manage Events </a>
<br><br>
<a href="/logout"> Logout </a>
<br><br>

Welcome Volunteer!


